@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --color-grey-100: hsl(40, 23%, 97%);
    --color-grey-200: hsl(43, 13%, 90%);
    --color-grey-300: hsl(40, 15%, 80%);
    --color-grey-400: hsl(39, 11%, 69%);
    --color-grey-500: hsl(41, 8%, 61%);
    --color-grey-600: hsl(41, 8%, 48%);
    --color-grey-700: hsl(41, 9%, 35%);
    --color-grey-800: hsl(37, 11%, 28%);
    --color-grey-900: hsl(40, 13%, 23%);
    --color-grey-1000: hsl(42, 15%, 13%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* HEADER 
1. Make the background larger by increasing padding
*/
.header {
    background-color: var(--color-grey-900);
    /*1*/
    padding: 1.5rem;
    color: var(--color-grey-100);
    text-align: center;
}

.header-title {
    margin: 0;
}


/* SECTION */
.section {
    padding: 1rem 2rem;
}

.section-accent {
    background-color: var(--color-grey-900);
    color: var(--color-grey-100);
}

.section-content {
    padding-left: 1rem;
    line-height: 1.6;
}

.skills-list {
    font-size: 1.2rem;
}

.projects-list,
.skills-list {
    list-style: none;
    margin: 0;
}

.section-content.projects-list {
    color: var(--color-grey-600);
}

.project-list-item {
    color: var(--color-grey-600);
    margin-bottom: 1rem;
}

.project-list-item:last-child {
    margin: 0;
}