@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --color-grey-100: hsl(40, 23%, 97%);
    --color-grey-200: hsl(43, 13%, 90%);
    --color-grey-300: hsl(40, 15%, 80%);
    --color-grey-400: hsl(39, 11%, 69%);
    --color-grey-500: hsl(41, 8%, 61%);
    --color-grey-600: hsl(41, 8%, 48%);
    --color-grey-700: hsl(41, 9%, 35%);
    --color-grey-800: hsl(37, 11%, 28%);
    --color-grey-900: hsl(40, 13%, 23%);
    --color-grey-1000: hsl(42, 15%, 13%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}